* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 0 15px;
    height: 100vh;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-around;
}

.col{
    width: 200px;
    height: 200px;
    background-color: #000000;
    border: 50px solid #efa9a9;
    margin: 20px 0;
}

.button{
    margin: 0 45%;
}